body {
    margin: 0;
    color: white !important;
    background-color: #181A1B !important;
    overflow-x: hidden;
    padding-bottom: 50px;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 50vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #202325;
    height: 100vh;
    padding-left: 20px !important;
}

.sidebar h2 {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
    padding-left: 3%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
 }

.image_filter{
    background-color: #323638;
    text-align: center;
    border-style: double;
    border-width: 5px;
    padding: 10px;
    margin-bottom: 30px;
    width: 50%;
}